<template>
  <div class="modal" v-if="isShow" @click="closeModal">
    <div class="modal-content" @click.stop>
      <h2 class="modal-title">Добавить пользователя</h2>

      <span class="modal-close" @click="closeModal">&times;</span>
      <form @submit.prevent="save">
        <div class="modal-field">
          <label class="modal-label" for="name">Имя</label>
          <input
            class="modal-input"
            type="text"
            id="name"
            v-model="name"
            placeholder="Введите имя"
            required
          />
        </div>

        <div class="modal-field">
          <label class="modal-label" for="phone">Телефон</label>
          <input
            class="modal-input"
            type="text"
            id="phone"
            v-model="phone"
            placeholder="Введите телефон"
            required
          />
        </div>

        <div class="modal-field">
          <label class="modal-label" for="parent">Начальник</label>
          <select class="modal-input" id="parent" v-model="parent">
            <option value="">Отсутствует</option>
            <option v-for="person in selectParams" :key="person.id" :value="person.id">
              {{ person.name }}
            </option>
          </select>
        </div>

        <div class="modal-button-container">
          <button class="modal-button" type="submit">Добавить</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {ref, watchEffect} from 'vue'

export default {
  props: {
    users: {
      type: Array,
      default: () => [],
    },
    isShow: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, {emit}) {
    const name = ref('')
    const phone = ref('')
    const parent = ref('')
    const selectParams = ref([])

    watchEffect(() => {
      selectParams.value = []
      setPersonSection(props.users)
    })

    function save() {
      const newUser = {
        id: Date.now(),
        name: name.value,
        phone: phone.value,
        parent: parent.value || null,
      }
      name.value = ''
      phone.value = ''
      parent.value = ''
      emit('save', [newUser, props.users])
    }

    function closeModal() {
      name.value = ''
      phone.value = ''
      parent.value = ''
      emit('close-modal')
    }

    function setPersonSection(selectPerson) {
      selectPerson.forEach((person) => {
        selectParams.value.push(person)

        if (person.children !== undefined) {
          setPersonSection(person.children)
        }
      })
    }

    return {
      name,
      phone,
      parent,
      selectParams,
      save,
      closeModal,
    }
  },
}
</script>

<style scoped lang="scss">
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .modal-label {
      margin-bottom: 5px;
    }

    .modal-input {
      height: 30px;
      font-size: 18px;
      color: #333333;
      border-radius: 5px;
      padding: 0 5px;
    }
  }

  .modal-button-container {
    display: flex;
    justify-content: flex-end;

    .modal-button {
      border-radius: 5px;
      background-color: green;
      color: white;
      cursor: pointer;
      border: none;
      font-size: 18px;
      padding: 5px 15px;
      font-weight: bold;

      &:hover,
      &:focus {
        background-color: rgb(1, 107, 1);
      }
    }
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #fefefe;
  padding: 40px;
  border: 1px solid #888;
  width: 400px;

  .modal-title {
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

.modal-close {
  top: 5%;
  right: 5%;
  position: absolute;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;

  &:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
</style>
