<template>
  <table v-if="items.length > 0" class="table">
    <thead>
    <tr>
      <th @click="sort(SORT_VALUE.NAME)">Name</th>
      <th @click="sort(SORT_VALUE.PHONE)">Phone</th>
    </tr>
    </thead>
    <tbody>
    <users-table-item v-for="person in sortedItems" :person="person" :key="person.id"></users-table-item>
    </tbody>
  </table>

  <p v-else class="table-empty">Список пуст</p>
</template>

<script setup>
import {ref, computed, defineProps} from 'vue'
import UsersTableItem from './UsersTableItem.vue'
import {SORT_VALUE} from '@/constants'

const props = defineProps({
  items: {
    type: Array,
    default: () => [],
  },
})

const sortKey = ref('')
const sortOrder = ref(1)

const sortedItems = computed(() => {
  const items = [...props.items]
  if (sortKey.value) {
    items.sort((a, b) => {
      const valueA = a[sortKey.value]
      const valueB = b[sortKey.value]

      if (valueA < valueB) {
        return -sortOrder.value
      } else if (valueA > valueB) {
        return sortOrder.value
      } else {
        return 0
      }
    })
  }
  return items
})

function sort(key) {
  if (sortKey.value === key) {
    sortOrder.value *= -1
  } else {
    sortKey.value = key
    sortOrder.value = 1
  }
}
</script>

<style scoped lang="scss">
.table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #ddd;

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    width: 50%;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #535353;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #333;
    }
  }

  tr:hover {
    background-color: #f5f5f5;
  }
}

.table-empty {
  font-size: 22px;
  font-weight: bold;
}
</style>
