<template>
  <tr>
    <td class="table-cell">
      <span class="table-plus" v-if="person.parent">+</span>
      {{ person.name }}
    </td>
    <td class="table-cell">{{ person.phone }}</td>
  </tr>

  <template v-if="person.children">
    <users-table-item
      v-for="child in person.children"
      :person="child"
      :key="child.id"
    ></users-table-item>
  </template>
</template>

<script setup>
import {defineProps} from 'vue'

defineProps({
  person: {
    type: Object,
    default: () => {
    },
  },
})
</script>

<style scoped lang="scss">
.table-plus {
  padding-left: 10px;
}

.table-cell {
  width: 100px;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-break: break-word;
}
</style>
