<template>
  <main>
    <div class="main-button-container">
      <button class="main-button" @click="isShowModal = true">Добавить</button>
    </div>
    <UsersTable :items="items"/>
    <AddUserModal
      :users="items"
      :isShow="isShowModal"
      @save="savePerson"
      @close-modal="isShowModal = false"
    />
  </main>
</template>

<script setup>
import {ref} from 'vue'
import UsersTable from './components/UsersTable.vue'
import AddUserModal from './components/AddUserModal.vue'

const items = ref([])
const isShowModal = ref(false)

const employee = localStorage.getItem('employee')
if (employee) {
  items.value = JSON.parse(employee)
}

function savePerson(arr) {
  const [newUser, users] = arr

  if (newUser.parent) {
    users.forEach((element) => {
      if (element.id === newUser.parent) {
        if (!element.children) {
          element.children = []
        }
        element.children.push(newUser)
      } else if (element.children) {
        savePerson([newUser, element.children])
      }
    })
  } else {
    users.push(newUser)
  }

  items.value = users
  localStorage.setItem('employee', JSON.stringify(items.value))
  isShowModal.value = false
}
</script>

<style lang="scss" scoped>
main {
  margin: 0 auto;
  width: 600px;
  padding-top: 50px;
}

.main-button-container {
  display: flex;
  justify-content: flex-end;

  .main-button {
    background-color: rgb(0, 153, 255);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 18px;
    padding: 5px 15px;
    cursor: pointer;
    margin-bottom: 15px;

    &:hover,
    &:focus {
      background-color: rgb(3, 116, 192);
    }
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}
</style>
